<!DOCTYPE html>
<html>
<head>
	<title>Clustering Done Wrong !!</title>
	<link rel="stylesheet" type="text/css" href="css/customstyles.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
	 <link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="css/bootstrap.min.css" />
<!-- 	 <link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" /> -->
</head>
<body ng-app="myApp">

	<div ng-controller="safeCtrl" >
		<div id="pointsTable">
			<button type="button" ng-click="addRandomItem(row)" class="btn btn-sm btn-success">
				<i class="glyphicon glyphicon-plus">
				</i> Add random item
			</button>

			<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
				<thead>
				<tr>
					<th st-sort="x">Serial Id</th>
					<th st-sort="x">x co-ordinate</th>
					<th st-sort="y">y co-ordinate</th>
					<th st-sort="x">normalized x co-ordinate</th>
					<th st-sort="y">normalized y co-ordinate</th>
				</tr>
				<tr>
					<th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="row in displayedCollection">
					<td><input	type="number" ng-model="row.id" value="rowCollection[{{$index}}]" size='4'></input></td>
					<td><input	type="number" ng-model="row.x"></input></td>
					<td><input	type="number" ng-model="row.y"></input></td>
					<td>{{row.x_dash}}</td>
				
					<td>{{row.y_dash}}</td>

					<td>
					<button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
						<i class="glyphicon glyphicon-remove-circle">
						</i>
					</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div  id="scatterPlot">
			<d3-bars data="rowCollection" label="name"></d3-bars>
		</div>
	</div>
<!-- 

	<div ng-controller="safeCtrl" id="scatterPlot">
		<d3-bars data="rowCollection" label="name"></d3-bars>
	</div>
    -->
	
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-smart-table/dist/smart-table.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>


<script type="text/javascript" src="app.js"></script>

<script type="text/javascript" src="controllers/demoCtrl.js"></script>
<script type="text/javascript" src="controllers/tableCtrl.js"></script>

<script type="text/javascript" src="services/d3.js"></script>
<script type="text/javascript" src="directives/d3Basic.js"></script>
</body>
</html>